# Runtime dependencies
Django>=1.11.23
six
requests
django-extra-views>=0.12.0
sorl-thumbnail
Pillow
psycopg2-binary
django-mptt>=0.11.0
django-two-factor-auth>=1.12.1
django-user-agents>=0.4.0

# Testing
coverage
flake8
tox

# Documentation
Sphinx
sphinx-rtd-theme

# Other tools
bumpversion==0.5.3
wheel==0.29.0
