{% extends 'django_webix/admin/base_no_auth.html' %}

{% block webix_ready %}
webix.ui({
    container: "container",
    rows: [
        {
            id: 'id_reset_header',
            view: "template",
            template: "{{ site_title }}: {{ _("password reset sent")|escapejs }}",
            type: "header"
        },
        {
            view: "template",
                    template: '{{ _("We have sent instructions for setting the password to the email address you provided. You should receive them shortly as long as the address you entered is valid.")|escapejs }}',
            autoheight: true,
            borderless: true,
            minWidth: 500,
            css: {"text-align": 'center'}
        },
        {
            view: "template",
                    template: '{{ _("If you do not receive an email, make sure you have entered the address you registered with, and check your spam folder")|escapejs }}',
            autoheight: true,
            borderless: true,
            minWidth: 500,
            css: {"text-align": 'center'}
        }
    ]
});
{% endblock %}

