{% extends 'django_webix/admin/base_no_auth.html' %}

{% block webix_ready %}
webix.ui({
    container: "container",
    rows: [
        {height: 20},
        {
            id: 'id_reset_header',
            view: "template",
            template: "{{ site_title }}: {{ _("password reset complete")|escapejs }}",
            type: "header"
        },
        {height: 20},
        {
            view: "template",
            template: "{{ _("Your password has been set. You can log-in")|escapejs }}",
            autoheight: true,
            minWidth: 500,
            borderless: true,
            css: {"text-align": 'center'}
        },
        {height: 20},
        {
            id: 'main_toolbar_form',
            margin: 5,
            cols: [
                {% if not request.user.is_authenticated %}
                    {
                        view: "tootipButton",
                        align: "right",
                        label: "{{ _("Login")|escapejs }}",
                        width: 160,
                        click: function () {
                            location.href = "{{ login_url }}";
                        }
                    },
                {% else %}
                    {
                        view: "tootipButton",
                        align: "right",
                        label: "{{ _("Back")|escapejs }}",
                        width: 160,
                        click: function () {
                            location.href = "/";
                        }
                    },
                {% endif %}
                {$template: "Spacer"}
            ]
        }
    ]
});
{% endblock %}
