{% load thumbnail static django_webix_utils django_webix_admin_utils %}

<!DOCTYPE HTML>
<html>
<head>
  <title>
      {{ title }}
  </title>

  {% block webix_header %}
    {% include "django_webix/static_meta.html" %}
  {% endblock %}

    {% block header_leaflet %}
        {% if is_webgis_enable %}
            {% friendly_load utils_leaflet %}
            <script type="text/javascript">
                var ForceScriptNameUrl = "{{settings.FORCE_SCRIPT_NAME_URL}}";
            </script>
            {% if_has_tag header_leaflet %}
                {% header_leaflet %}
            {% endif_has_tag %}
        {% endif %}
    {% endblock %}

  {% block webix_filter_header %}
      {% if is_webix_filter_enable %}
          {% include "django_webix_filter/static_meta.html" %}
      {% endif %}
  {% endblock %}

</head>
<body style="width:100%;height:100%;margin:0px;padding:0px;">
<script type="text/javascript" charset="utf-8">

  {% block full_content %}
  webix.ready(function(){
    //webix.i18n.setLocale("it-IT"); // TODO
    webix.CustomScroll.init();
    webix.ui.fullScreen();
    webix.ui({
      id:'admin_webix',
      rows:[
        {% block dashboard_header %}
            {% include "admin_webix/include/header.js" %},
        {% endblock %}
        {
        id:"content",
        type:"space",
        cols:[
            {% block dashborad_left %}
            {
                id: 'content_left',
                rows: [
                    {% block dashborad_menu %}
                        {% include "admin_webix/include/menu.js" %},
                    {% endblock %}
                ]
            },
          {% endblock %}
          {% block dashboard_content %}
              {
                  view: "scrollview",
                  id: "content_right_vertical",
                  scroll: "y",
                  body: {
                      rows: [
                          {% if not is_webgis_enable %}
                          {
                              margin: 5,
                              id: '{{webix_container_id}}',
                              type: "space",
                              rows: [],
                          },
                          {% else %}
                          {
                            borderless: false,
                            view: "tabbar",
                            id: 'main_content_right',
                            value: '{{ webix_container_id }}',
                            multiview: true,
                            optionWidth: 150,
                            animate: false,
                            options: [
                              {value: '{{ _("DATI")|escapejs }}', id: '{{ webix_container_id }}'},
                              {value: '{{ _("WEBGIS")|escapejs }}', id: 'webgis_leaflet'},
                            ],
                          },
                          {
                            animate: false,
                            type: "space",
                            cells: [
                              {
                                id: '{{ webix_container_id }}',
                                type: "clean",
                                rows: [],
                              },
                              {
                                id: 'webgis_leaflet',
                                type: "clean",
                                cols: [],
                              },
                            ]
                          }
                       {% endif %}
                      ]
                  }
              }
            {% endblock %}
          ]
        },
        ]
      });

    webix.extend($$('{{webix_container_id}}'), webix.OverlayBox);

      {% block content %}
          {% if render_url %}
              webix.ui([{view: 'template', template: ''}], $$('{{webix_container_id}}'));
              //with empty content_right view no loading cube
              load_js('{{render_url}}');
          {% endif %}
      {% endblock %}

    {% if is_webgis_enable %}
        load_js('{% url 'webix_webgis_init' %}{% if active_tab == 'webgis_leaflet' %}?autoopen{% endif %}', undefined, undefined, undefined, undefined, undefined, undefined, undefined, undefined, undefined, undefined, undefined, false);
    {% endif %}

    {% block extra_content %}{% endblock %}
  });
  {% endblock %}

</script>

{% block cookies %}
{% endblock %}
</body>
</html>
