{% load django_webix_utils static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>

    {% block webix_header %}
        {% include "django_webix/static_meta.html" %}
    {% endblock %}

    <style type="text/css">
        #container {
            display: table;
            margin: 30px auto;
        }
    </style>
    {% block extrahead %}{% endblock %}

</head>
<body style="width:100%;height:100%;margin:0px;padding:0px;">
<div id="container"></div>
<script type="text/javascript" charset="utf-8">
    webix.ready(function () {
        {% block webix_ready %}
        {% endblock %}
    });
</script>

{% block cookies %}
{% endblock %}

</body>
</html>
