{% extends 'admin_webix/base_no_auth.html' %}

{% block webix_ready %}
    webix.ui({
        container: "container",
        rows: [
            {% block extra_pre_header %}{% endblock %}
            {
                height: 30,
            },
            {
                id: 'id_login_header',
                view: "template",
                template: "{{site_title}}",
                type: "header"
            },
            {% block extra_pre_form %}{% endblock %}
            {
                id: "login_form",
                view: "form",
                type: "form",
                scroll: false,
                width: 400,
                on: {
                    onSubmit: function (view, ev) {
                        if ($$('login_form').validate()) {
                            webix.send(".", $$('login_form').getValues());
                        }
                    }
                },
                elements: [
                    {
                        labelWidth: 130,
                        view: "text",
                        name: "username",
                        id: "id_username",
                        label: "Username",
                        required: true
                    },
                    {
                        labelWidth: 130,
                        view: "text",
                        name: "password",
                        id: "id_password",
                        type: "password",
                        label: "Password",
                        required: true
                    },
                    {
                        margin: 5, cols: [{
                            view: "button",
                            id: 'id_login_button',
                            label: "Login",
                            click: function () {
                                if ($$('login_form').validate()) {
                                    webix.send(".", $$('login_form').getValues());
                                }
                            }
                        }
                        ]
                    }
                ]
            },
            {
                padding: 10,
                rows: [
                    {
                        view: "button",
                        margin: 30,
                        value: "Recupera password",
                        click: function() {
                            location.href = "{% url "admin_webix:password_reset" %}"
                        }
                    },
                ]
            },
            {% block extra_post_form %}{% endblock %}
        ]
    });
    $$('login_form').setValues({csrfmiddlewaretoken: "{{ csrf_token }}"});

    {% block extra_login_content %}{% endblock %}
{% endblock %}
