{% load thumbnail static %}<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ENOGIS {{ title }}</title>
    <link rel="stylesheet" href="{% static "enogis/css/screen.css" %}" media="screen, projection" type="text/css">
    {% block webix_header %}
        {% include "django_webix/static_meta.html" %}
    {% endblock %}
    <style type="text/css">
        #password_change_container {
            display: table;
            margin: 30px auto;
        }
    </style>
    {% block extrahead %}{% endblock %}

  {% block sentry %}
    {% load sentry %}
    {% sentry_js %}
  {% endblock %}


</head>
<body style="width:100%;height:100%;margin:0px;padding:0px;">
<div id="password_change_container"></div>
<script type="text/javascript" charset="utf-8">
    console.log('{{ user }}');
    webix.ready(function () {
        webix.ui({
            container: "password_change_container",
            rows: [
                {
                    height: 30,
                },
                {
                    id:'id_password_change_header',
                    view: "template",
                    template: "Cambio password utente {{ user }}",
                    type: "header"
                },
                {
                    id: "password_change_form",
                    view: "form",
                    type: "form",
                    scroll: false,
                    width: 400,
                    elements: [
                        {
                            labelWidth: 130,
                            view: "text",
                            id: "id_old_password",
                            name: "old_password",
                            type: "password",
                            label: "Password attuale",
                            required: true
                        },
                        {
                            labelWidth: 130,
                            view: "text",
                            name: "new_password1",
                            id: "id_new_password1",
                            type: "password",
                            label: "Nuova password",
                            required: true
                        },
                        {
                            labelWidth: 130,
                            view: "text",
                            name: "new_password2",
                            id: "id_new_password2",
                            type: "password",
                            label: "Conferma password",
                            required: true
                        },
                        {
                            margin: 5, cols: [{
                                view: "button",
                                id:'id_button_change_password',
                                label: "Conferma",
                                click: function () {
                                    if ($$('password_change_form').validate()) {
                                        webix.send(".", $$('password_change_form').getValues());
                                    }
                                }
                            }
                            ]
                        }
                    ]
                }]

        });
        $$('password_change_form').setValues({csrfmiddlewaretoken: "{{ csrf_token }}"});

        {% block webix_form_errors %}
            {% if form.errors %}
                webix.message({type: "error", expire: 10000, text: "{{ form.errors|safe|escapejs }}"});
            {% endif %}
        {% endblock %}

    });
</script>
</body>
</html>

