{% extends 'django_webix/admin/base_no_auth.html' %}

{% block webix_ready %}
    webix.storage.local.clear();
    webix.ui({
        container: "container",
        rows: [
            {% block extra_pre_header %}{% endblock %}
            {
                height: 30,
            },
            {
                id: 'id_login_header',
                view: "template",
                template: "{{site_title}}",
                type: "header"
            },
            {% block extra_pre_form %}{% endblock %}
            {
                id: "login_form",
                view: "form",
                type: "form",
                scroll: false,
                width: 400,
                on: {
                    onSubmit: function (view, ev) {
                        if ($$('login_form').validate()) {
                            webix.send(".", $$('login_form').getValues());
                        }
                    }
                },
                elements: [
                    {
                        id: "id_username",
                        name: "username",
                        view: "text",
                        label: "{{ _("Username")|escapejs }}",
                        required: true,
                        labelWidth: 130
                    },
                    {
                        id: "id_password",
                        name: "password",
                        view: "search",
                        type: "password",
                        label: "{{ _("Password")|escapejs }}",
                        required: true,
                        icon: "fas fa-eye",
                        labelWidth: 130
                    },
                    {
                        margin: 5, cols: [{
                            view: "button",
                            id: 'id_login_button',
                            label: "{{ _("Login")|escapejs }}",
                            click: function () {
                                if ($$('login_form').validate()) {
                                    webix.send("", $$('login_form').getValues());
                                }
                            }
                        }
                        ]
                    }
                ]
            },
            {
                padding: 10,
                rows: [
                    {
                        view: "button",
                        margin: 30,
                        value: "{{ _("Password recovery")|escapejs }}",
                        click: function() {
                            {% with pattern_password_reset=urls_namespace|add:':password_reset' %}
                            location.href = "{% url pattern_password_reset %}"
                            {% endwith %}
                        }
                    },
                ]
            },
            {% block extra_post_form %}{% endblock %}
        ]
    });

    $$('id_password').attachEvent("onSearchIconClick", function (e) {
        const input = this.getInputNode();
        webix.html.removeCss(e.target, "fas fa-eye-slash");
        webix.html.removeCss(e.target, "fas fa-eye");
        if (input.type == "text") {
            webix.html.addCss(e.target, "fas fa-eye");
            input.type = "password";
        } else {
            webix.html.addCss(e.target, "fas fa-eye-slash");
            input.type = "text";
        }
    })

    $$('login_form').setValues({csrfmiddlewaretoken: "{{ csrf_token }}"});

    {% block extra_login_content %}{% endblock %}
{% endblock %}
