{% extends 'admin_webix/base_no_auth.html' %}

{% block webix_ready %}
webix.ui({
    container: "container",
    rows: [
        {
            id: 'id_reset_header',
            view: "template",
            template: "Django-Webix Admin Site",
            type: "header"
        },
        {
            view: "template",
            template: "Abbiamo inviato istruzioni per impostare la password all'indirizzo email che hai indicato. Dovresti riceverle a breve a patto che l'indirizzo che hai inserito sia valido.",
            autoheight: true,
            borderless: true,
            minWidth: 500,
            css: {"text-align": 'center'}
        },
        {
            view: "template",
            template: "Se non ricevi un messaggio email, accertati di aver inserito l'indirizzo con cui ti sei registrato, e controlla la cartella dello spam.",
            autoheight: true,
            borderless: true,
            minWidth: 500,
            css: {"text-align": 'center'}
        }
    ]
});
{% endblock %}

