{% extends 'admin_webix/base_no_auth.html' %}

{% block webix_ready %}
webix.ui({
    container: "container",
    rows: [
        {height: 20},
        {
            id: 'id_reset_header',
            view: "template",
            template: "Django-Webix Admin Site",
            type: "header"
        },
        {height: 20},
        {
            view: "template",
            template: "La tua password è stata impostata. Ora puoi effettuare l'accesso.",
            autoheight: true,
            minWidth: 500,
            borderless: true,
            css: {"text-align": 'center'}
        },
        {height: 20},
        {
            id: 'main_toolbar_form',
            margin: 5,
            cols: [
                {% if not request.user.is_authenticated %}
                    {
                        view: "tootipButton",
                        align: "right",
                        label: "Accedi",
                        width: 160,
                        click: function () {
                            location.href = "{{ login_url }}";
                        }
                    },
                {% else %}
                    {
                        view: "tootipButton",
                        align: "right",
                        label: "Torna indietro",
                        width: 160,
                        click: function () {
                            location.href = "/";
                        }
                    },
                {% endif %}
                {$template: "Spacer"}
            ]
        }
    ]
});
{% endblock %}
