{% extends 'admin_webix/base_no_auth.html' %}

{% block webix_ready %}
webix.ui({
    container: "container",
    rows: [
        {height: 20},
        {
            id: 'id_reset_header',
            view: "template",
            template: "Django-Webix Admin Site",
            type: "header"
        },
        {
            view: "template",
            template: "Password dimenticata? Inserisci il tuo indirizzo email qui sotto, e ti invieremo istruzioni per impostarne una nuova.",
            autoheight: true,
            borderless: true,
            css: {"text-align": 'center'}
        },
        {
            view: "form",
            id: "{{ form.webix_id }}",
            minWidth: 500,
            borderless: true,
            elements: [
                {{ form.as_webix|safe }},
                {
                    margin: 5,
                    cols: [
                        {
                            view: "button",
                            id: 'id_button_reset_password',
                            label: "Conferma",
                            click: function () {
                                if ($$('{{ form.webix_id }}').validate()) {
                                    webix.send("{% url 'admin_webix:password_reset' %}", $$('{{ form.webix_id }}').getValues());
                                }
                            }
                        }
                    ]
                }
            ]
        },
    ]

});
$$('{{ form.webix_id }}').setValues({csrfmiddlewaretoken: "{{ csrf_token }}"});

{% block webix_form_errors %}
    {% if form.errors %}
        webix.message({type: "error", expire: 10000, text: "{{ form.errors|safe|escapejs }}"});
    {% endif %}
{% endblock %}
{% endblock %}
