{% load thumbnail static %}<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    {% block webix_header %}
        {% include "django_webix/static_meta.html" %}
    {% endblock %}
    <style type="text/css">
        #password_reset_container {
            display: table;
            margin: 30px auto;
        }
    </style>
    {% block extrahead %}{% endblock %}

  {% block sentry %}
    {% load sentry %}
    {% sentry_js %}
  {% endblock %}


</head>
<body style="width:100%;height:100%;margin:0px;padding:0px;">
<div id="password_reset_container"></div>
<script type="text/javascript" charset="utf-8">
    webix.ready(function () {
        webix.ui({
            container: "password_reset_container",
            rows: [
                {height: 20},
                {
                    id: 'id_reset_header',
                    view: "template",
                    template: "Django-Webix Admin Site",
                    type: "header"
                },
                {
                    view: "template",
                    template: "Password dimenticata? Inserisci il tuo indirizzo email qui sotto, e ti invieremo istruzioni per impostarne una nuova.",
                    autoheight: true,
                    borderless: true,
                    css: {"text-align": 'center'}
                },
                {
                    view: "form",
                    id: "{{ form.webix_id }}",
                    minWidth: 500,
                    borderless: true,
                    elements: [
                        {{ form.as_webix|safe }},
                        {
                            margin: 5,
                            cols: [
                                {
                                    view: "button",
                                    id: 'id_button_reset_password',
                                    label: "Conferma",
                                    click: function () {
                                        if ($$('{{ form.webix_id }}').validate()) {
                                            webix.send("{% url 'admin_webix:password_reset' %}", $$('{{ form.webix_id }}').getValues());
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
            ]

        });
        $$('{{ form.webix_id }}').setValues({csrfmiddlewaretoken: "{{ csrf_token }}"});

        {% block webix_form_errors %}
            {% if form.errors %}
                webix.message({type: "error", expire: 10000, text: "{{ form.errors|safe|escapejs }}"});
            {% endif %}
        {% endblock %}

    });
</script>
{{ error_message }}
<link rel="stylesheet" type="text/css" href="https://www.mpasolutions.it/cookies/mpasolutions.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Quicksand:400,500" rel="stylesheet">
<script type="text/javascript" src="https://www.mpasolutions.it/cookies/jquery.min.js"></script>
<script type="text/javascript" src="https://www.mpasolutions.it/cookies/jquery.ihavecookies.js"></script>
<script type="text/javascript" src="https://www.mpasolutions.it/cookies/config.js"></script>


</body>
</html>

