{% load thumbnail static %}<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    {% block webix_header %}
        {% include "django_webix/static_meta.html" %}
    {% endblock %}
    <style type="text/css">
        #password_reset_done_container {
            display: table;
            margin: 30px auto;
        }
    </style>
    {% block extrahead %}{% endblock %}

  {% block sentry %}
    {% load sentry %}
    {% sentry_js %}
  {% endblock %}


</head>
<body style="width:100%;height:100%;margin:0px;padding:0px;">
<div id="password_reset_done_container"></div>
<script type="text/javascript" charset="utf-8">
    webix.ready(function () {
        webix.ui({
            container: "password_reset_done_container",
            rows: [
                {
                    id: 'id_reset_header',
                    view: "template",
                    template: "Django-Webix Admin Site",
                    type: "header"
                },
                {
                    view: "template",
                    template: "Abbiamo inviato istruzioni per impostare la password all'indirizzo email che hai indicato. Dovresti riceverle a breve a patto che l'indirizzo che hai inserito sia valido.",
                    autoheight: true,
                    borderless: true,
                    minWidth: 500,
                    css: {"text-align": 'center'}
                },
                {
                    view: "template",
                    template: "Se non ricevi un messaggio email, accertati di aver inserito l'indirizzo con cui ti sei registrato, e controlla la cartella dello spam.",
                    autoheight: true,
                    borderless: true,
                    minWidth: 500,
                    css: {"text-align": 'center'}
                }
            ]
        });
    });
</script>
</body>
</html>

